"*":
  "exception-reporting":
    userId: "d22b4a14-866a-d1ed-26d0-c721a0db36e2"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "markdown-preview"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    fontSize: 15
  react: {}
  "atom-beautify":
    _analyticsUserId: "d3732544-9f32-4ca5-8d74-c7e3633a1177"
    analytics: false
    js_end_with_comma: true
    js_eval_code: true
    js_indent_size: 4
    js_space_in_paren: true
    html_indent_size: 4
  autosave:
    enabled: true
  "expand-region": {}
  "markdown-preview-plus":
    useGitHubStyle: true
  minimap:
    plugins:
      "split-diff": true
  "atom-typescript": {}
  "linter-tslint": {}
  linter: {}
